configuration {
    display-drun: "";
    drun-display-format: "{icon} {name}";
    font: "JetBrainsMono Nerd Font Medium 10";
    modi: "drun";
    show-icons: true;
    icon-theme: "Papirus";
}

@theme "~/.config/rofi/theme.rasi"

* {
    border: 0;
    margin: 1;
    padding: 2;
    spacing: 1;
}

window {
    width: 35%;
    height: 30%;
    border-radius: 10;
}

element selected {
    border-radius: 5;
}

element-icon {
    size: 25;
}

element-scroll {
    border-radius: 10;
}
